<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio Website</title>        
    </head>
    <body>
       {{> header}}
        <p>Our products</p>

        <p>{{screamIt listOfPortfolios}}</p>

        {{> footer}}
    </body>
</html>